<div class="row p-4">
    <div class="mx-auto">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona?.img}} alt="FotoPerfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" class="fw-bold mt-3">{{persona?.nombre}} {{persona?.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{persona?.descripcion}}</p>
        </span>
    </div>
</div>